name: ci

on: [push, pull_request]

jobs:

  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        python-version: ['3.9','3.10','3.11','3.12']

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "0.5.7"
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Run test suite
        env:
          # show timings of tests
          PYTEST_ADDOPTS: "--durations=0"
        run: |
          unset CI
          uv run pytest --run-extra-mlips --cov janus_core --cov-append .

      - name: Report coverage to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          parallel: true
          flag-name: run-${{ matrix.python-version }}
          file: coverage.xml
          base-path: janus_core

  coverage:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Close parallel build
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true

  docs:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4

      - name: Check all sources documented
        run: |
          diff -y --suppress-common-lines \
               <(git ls-files janus_core/** | sed '/.py$/!d; s/\/__init__.py//; s#/#.#g; s/.py$//' | sort) \
               <(sed -nr '/automodule/{s/.*::\s*//;p}' docs/source/apidoc/* | sort)

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "0.5.7"
          python-version: "3.12"

      - name: Install dependencies
        run: uv sync

      - name: Build docs
        run: cd docs && uv run make html

  pre-commit:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "0.5.7"
          python-version: "3.12"

      - name: Install dependencies
        run: uv sync

      - name: Run pre-commit
        run: |
          uv run pre-commit install
          uv run pre-commit run --all-files || ( git status --short ; git diff ; exit 1 )
