name: docs

on:
  push:
    branches: [main]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  docs-deploy:
    if: github.ref == 'refs/heads/main' && github.repository == 'stfc/janus-core'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "0.5.4"

      - name: Set up Python 3.11
        run: uv python install 3.11

      - name: Install dependencies
        run: uv sync

      - name: Build docs
        run: cd docs && uv run make html

      - name: upload
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload entire repository
          path: './docs/build/html/.'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
