name: mac-ci

on: [push, pull_request]

jobs:

  tests:
    runs-on: [self-hosted, macOS]
    if: github.repository == 'stfc/janus-core'
    timeout-minutes: 30
    strategy:
      matrix:
        python-version: ["3.10","3.11","3.12"]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.2"
          python-version: ${{ matrix.python-version }}

      - name: Install "all" dependencies
        run: uv sync --extra all

      - name: Run test suite
        env:
          # show timings of tests
          PYTEST_ADDOPTS: "--durations=0"
        run: uv run pytest

      - name: Install updated e3nn dependencies
        run: |
          uv sync --extra mattersim --extra fairchem
          uv pip install --reinstall pynvml
          uv pip install "fairchem-core[torch-extras]" --no-build-isolation

      - name: Run test suite
        env:
          # show timings of tests
          PYTEST_ADDOPTS: "--durations=0"
        run: uv run pytest tests/test_{mlip_calculators,single_point}.py

      - name: Install dgl dependencies
        run: |
          uv sync --extra mace --extra m3gnet --extra alignn
          uv pip install --reinstall pynvml

      - name: Run test suite
        env:
          # show timings of tests
          PYTEST_ADDOPTS: "--durations=0"
        run: uv run pytest tests/test_{mlip_calculators,single_point,eos}.py
