name: windows-ci

on: [push, pull_request]

jobs:

  tests:
    runs-on: windows-latest
    timeout-minutes: 30
    strategy:
      matrix:
        python-version: ["3.10","3.11","3.12"]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.2"
          python-version: ${{ matrix.python-version }}
          prune-cache: false

      - name: Install "all" dependencies
        run: uv sync --extra all

      - name: Run test suite
        env:
          # show timings of tests
          PYTEST_ADDOPTS: "--durations=0"
        run: uv run pytest

      - name: Install updated e3nn dependencies
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          uv sync --extra fairchem
          uv pip install --reinstall pynvml
          uv pip install "fairchem-core[torch-extras]" --no-build-isolation

      - name: Run test suite for updated e3nn dependencies
        env:
          # show timings of tests
          PYTEST_ADDOPTS: "--durations=0"
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: uv run pytest tests/test_mlip_calculators.py tests/test_single_point.py
