name: windows-ci

on: [push, pull_request]

jobs:

  tests:
    runs-on: windows-latest
    timeout-minutes: 60
    strategy:
      matrix:
        python-version: ["3.10","3.11","3.12"]

    # Use non-interactive backend for plotting
    env:
      MPLBACKEND: Agg

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          prune-cache: false

      - name: Install "all" dependencies
        run: uv sync --extra all

      - name: Download extra models
        run: |
          source tests/models/extra_models.sh

      - name: Run test suite
        env:
          # show timings of tests
          PYTEST_ADDOPTS: "--durations=0"
        run: uv run --no-sync pytest

      - name: Install updated e3nn dependencies
        run: |
          uv sync --extra fairchem-1 --extra sevennet --extra nequip
          uv pip install --reinstall pynvml
          uv pip install "fairchem-core[torch-extras]" --no-build-isolation

      - name: Run test suite for updated e3nn dependencies
        env:
          # show timings of tests
          PYTEST_ADDOPTS: "--durations=0"
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: uv run --no-sync pytest tests/test_mlip_calculators.py tests/test_single_point.py
